######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
*.jar
*.lst
*.properties
*.original
**/.sts4-cache/*
######################
# Mac OSX
######################
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

######################
# Logs
######################
*.log
*.log.gz
*.tmp

######################
# Project Specific
######################
*build/
*out/
*classes/
target/

######################
# Contain sensitive information, do not push
######################
sonarqube.token 

######################
# Gradle
######################
.gradle/

######################
# Flyway Files
######################
flyway/jars/*.jar

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
.vscode/
bootstrap-prod.yml

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar


######################
# Python
######################
*.pyc
**/.factorypath
