<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
 	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5p %t %X{X-Request-Id} %c{1}:%L - %replace(%m){[\r\n],
				'##'} %replace(%throwable){[\r\n], '##'}%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="console" />
	</root>

	 <appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		 <file>/LOG/${log.path}/mylog.txt</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>/LOG/${log.path}/mylog-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
			each file should be at most 100MB, keep 60 days worth of history,
			but at most 20GB
			<maxFileSize>512MB</maxFileSize>
			<maxHistory>180</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d %-5p %t %X{X-Request-Id} %c{1}:%L - %replace(%m){[\r\n],
				'##'} %replace(%throwable){[\r\n], '##'}%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="ROLLING" />
	</root>

</configuration>
